body {
    width:720px;
    margin:auto;
    padding:32px;
    background-color:ivory;
    font-family:serif;
    font-size:1.2em;
}
h1,h2,h3 {
    font-family:Luminari, Trattatello, fantasy;
    font-weight:800;
}
img#textbook {
    width:20%;
    float:right;
    padding:0 1em 1em 1em;
}
